<?xml version="1.0"?>
<!-- 
config.xml

 
 * @author     Árpád Tóth
 * @category   Purchasedat
 * @package    Purchasedat
-->
<config>
	<modules>
		<Purchasedat_Purchasedat>
			<version>1.0.0</version>
		</Purchasedat_Purchasedat>
	</modules>
	<global>
		<blocks>
			<purchasedat>
				<class>Purchasedat_Purchasedat_Block</class>
			</purchasedat>
		</blocks>
		<helpers>
			<purchasedat>
				<class>Purchasedat_Purchasedat_Helper</class>
			</purchasedat>
		</helpers>
		<models>
			<purchasedat>
				<class>Purchasedat_Purchasedat_Model</class>
			</purchasedat>
		</models>
		<resources>
			<purchasedat_setup>
				<setup>
					<module>Purchasedat_Purchasedat</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</purchasedat_setup>
			<newmodule_write>
				<connection>
					<use>core_write</use>
				</connection>
			</newmodule_write>
			<newmodule_read>
				<connection>
					<use>core_read</use>
				</connection>
			</newmodule_read>
		</resources>
    </global>
	
	<frontend>
		<routers>
			<purchasedat> 
				<use>standard</use>
				<args>
					<module>Purchasedat_Purchasedat</module>
					<frontName>purchasedat</frontName>
				</args>
			</purchasedat>
		</routers>
	</frontend>
 
	<default>
		<payment>
			<purchasedat>
				<model>purchasedat/standard</model>
				<active>0</active>
				<title><![CDATA[Purchasedat]]></title>
				<server>test</server>
				<debugging>0</debugging>
			</purchasedat>
		</payment>
	</default>
</config>